<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styru.css" type="text/css" />
    <title>Recipes for dummies</title>
</head>
<body>
    <h1>Recipes for dummies.</h1>

    <form action="/dologin" method="post">
        <label for="uname">User name:</label><br />
        <input type="text" id="uname" name="uname" /> <br />
        <label for="pword">Password:</label><br />
        <input type="password" id="pword" name="pword" /><br /><br />
        <input type="submit" value="Login" />
    </form><br /><br /><br />


    <a href="/user"><h2>Account</h2></a>
    <a href="/register"><h2>Register here</h2></a><br />

    <a href="/see"><h2>See recipes.</h2></a>

</body>
</html>