<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styru.css" type="text/css" />
    <title>Seacret</title>
</head>
<body>
    <h1>Welcome {{uname}}</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/off">logout</a>
    </nav>

    <a href="/see"><h3>See recipes.</h3></a>
    <a href="/add"><h3>Add recipe.</h3></a>
    <a href="/eyda"><h3>Delete recipe.</h3></a>
    <a href="/breyta"><h3>Change recipe.</h3></a>

</body>
</html>